
include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
include nsd_installment_config.json
recursive-include nsd_installment *.py
recursive-include nsd_installment *.json
recursive-include nsd_installment *.js
